/* https://www.color-hex.com/color-palette/98179 */
/* --------main elements*/
body{
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #252526;
    color: #fff;
}

main{
    padding: 10px;
    background-color: #1e1e1e;
    min-height: 100vh;
}
h1{
    text-align: center;
    font-size: 45px;
    background: -webkit-linear-gradient(#eee, rgb(102, 102, 102));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px;
}

div{
    background-color: #3e3e42;
    padding: 20px;
    margin: 5px;
}

/* ------------section 1 */

table, tr, td,th{
    border-collapse: collapse;
    border: 1px solid #fff;
}
td, th{
    padding-left: 4px;
    padding-right: 4px;
}

/* ------------section 2 */

textarea{
    background-color: 	#2d2d30;
    resize: none;
    color:#fff;
}
input[type="button"]{
    margin: 10px;
    background-color: #2d2d30;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    font-size: 1.5em;
    font-weight: 400;
}
input[type="button"]:hover{
    cursor: pointer;
    box-shadow: 2px 2px 9px -2px rgba(255, 255, 250, 0.5);
    background-color: #fffff9;
    color: #2d2d30;
    border-color: #2d2d30;
    opacity: 0.95;
    font-weight: 450;
}

#buttons{
    
}